$blockBgColor: #2E3037;
$pageBgColor: #24262C;
$areaBgColor: #1C1D20;
$regionBgColor: #82ABEC;
$headerHeight: 40px;
$footerHeight: 60px;
$font: (
    family: PingFang,
);
$btn: (
    default: (
        bg: #82ABEC,
        color: #FFF,
    ),
    hover: (
        bg: #5A8CDC,
        color: #FFF,
    ),
    disable: (
        bg: #73829A,
        color: #989CA0,
    ),
    font: (
        size: 18px,
        space: 6px,
        align: center,
    ),
);
$icon: (
    default: #FFF,
    hover: #82ABEC,
    disable: #999CA0,
    font: (
        size: 24px,
    ),
);
:export {
    areaBgColor: $areaBgColor;
    headerHeight: $headerHeight;
    footerHeight: $footerHeight;
}