@import "../../../../styles/variables.scss";
.class-btn{
  border-radius:20px;
  width: 135px;
  height: 34px;
  background: map-get(map-get($btn, 'default'), 'bg');
  color: map-get(map-get($btn, 'default'), 'color');
  font-size:16px;
  font-weight:600;
  cursor: pointer;
  box-shadow:0px 2px 4px rgba(0,0,0,1);
  margin-top:-4px;
  &:hover{
    opacity: 1;
  }
  &:hover, &:active{
    background: map-get(map-get($btn, 'hover'), 'bg');
    color: map-get(map-get($btn, 'hover'), 'color');
  }
}