$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-jishiqi: "\e900";
$icon-jishiqihei: "\e907";
$icon-restart0-path1: "\e908";
$icon-restart0-path2: "\e909";
$icon-restart0-path3: "\e90a";
$icon-restart0-path4: "\e90b";
$icon-sanjiao: "\e90c";
$icon-start0-path1: "\e90d";
$icon-start0-path2: "\e90e";
$icon-start0-path3: "\e90f";
$icon-start0-path4: "\e910";
$icon-stop0-path1: "\e911";
$icon-stop0-path2: "\e912";
$icon-stop0-path3: "\e913";
$icon-dianming: "\e906";
$icon-choujiang: "\e901";
$icon-gonggao: "\e902";
$icon-share: "\e903";
$icon-tongzhi: "\e904";
$icon-toupiao: "\e905";

