@import "../../../styles/variables.scss";
.gift-number{
  height: 30px;
  font-size: 20px;
  color: #FFE895;
  display: flex;
  align-items: center;
  .multiply{
    font-size: 16px;
    margin: 0 6px 0;
  }
  .icon-gift{
    font-size: 24px;
  }
}