
.ql-snow {
  .ql-picker.ql-size {
    .ql-picker-label, .ql-picker-item {

      &[data-value="14px"]::before {
        content: '14px';
        font-size: 14px;
      }

      &[data-value="16px"]::before {
        content: '16px';
        font-size: 16px;
      }

      &[data-value="18px"]::before {
        content: '18px';
        font-size: 18px;
      }

      &[data-value="20px"]::before {
        content: '20px';
        font-size: 20px;
      }

      &[data-value="22px"]::before {
        content: '22px';
        font-size: 22px;
      }

      &[data-value="24px"]::before {
        content: '24px';
        font-size: 24px;
      }

      &[data-value="26px"]::before {
        content: '26px';
        font-size: 26px;
      }

      &[data-value="28px"]::before {
        content: '28px';
        font-size: 28px;
      }

      &[data-value="30px"]::before {
        content: '30px';
        font-size: 30px;
      }
    }
  }
}
