.audio-play-error{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    .audio-play-reload{
        color: #fff;
    }
    .audio-play-reload:hover{
        border-bottom: 1px solid #fff;
    }
}

