@import "@styles/variables.scss";
.mask {
  position: absolute;
  top: 0.42*100px;
  z-index: 500;
  height: 100%;
  width: 100%;
}


.navbar-container li .userlist-container {
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 76px;
  z-index: 350;
  border-radius: 15px;
  width:440px;
  height:600px;
  background:$areaBgColor;
  opacity:0.96;
  display: none;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,1);
  &.calssWith{
    width: 426px;
  }
  &.liveWidth{
    width: 426px;
    .list-box{
      height: calc(100% - 160px);
    }
  }

  .triangle {
    display: block;
    position: absolute;
    top: 25px;
    left: -20px;      
    width:0;
    height:0;
    border-top:10px solid transparent;
    border-bottom:26px solid transparent;
    border-right:26px solid $areaBgColor;
    opacity:0.96;
  }
  &>.device-control{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 570px;
    height: 480px;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 15px;
    overflow: hidden;
    z-index: 351;
    background: #1C1D20;
    box-shadow: 0px 0.02rem 0.04rem 0px black;
    color: #FFFFFF;
    .control-header{
      border-radius: 26px 26px 0 0;
      border-bottom: 1px solid #2E3037;
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #fff;
      background: #1C1D20;
      >i{
        position: absolute;
        right: 20px;
      }
    }
    .device-ops-wrapper{
      position: relative;
      height: calc(100% - 40px);
      .ops-tip{
        width: 100%;
        font-size: 12px;
        color: #FF7D7D;
        display: flex;
        justify-content: center;
      }
      &>.option-all{
        clear: both;
        display: flex;
        line-height: 40px;
        height: 40px;
        padding: 20px;
        margin: 20px 0;
        &:nth-child(1){
          margin-top: 0;
          &>.item_right{
            z-index: 3;
          }
        }
        &:nth-child(2){
          &>.item_right{
            z-index: 2;
          }
        }
        &:nth-child(3){
          &>.item_right{
            z-index: 1;
          }
        }
        .item_left{
            // width: 50px;
            color:#82ABEC;
            font-size:14px;
            width: 80px;
            .playImg{
                width:48px;
                height:48px;
                // background:url(../img/playMusic.png) no-repeat center center;
                background-size:cover;
            }

        }
        &>.item_right{
            flex: 1;
            height:40px;
            margin-left:10px;
            &>.select_text{
              height: 100%;
            }
            .sound-vol{
              justify-content:normal;
              display: flex;
              .tool-slider_img{
                width:22px;
                height:18px;
                background:url(../image/yinliang@2x.png) no-repeat center center;
                background-size:cover;
              }
              .icon_volume{
                  width: 10px;
                  height: 10px;
                  color: #268efa;
                  font-size: 10px;
                  display: inline-block;
              }
              .txt_volume{
                  font-size:16px;
                  font-family:PingFangSC-Medium,PingFang SC;
                  font-weight:500;
                  color:rgba(90,140,220,1);
              }
              .rc-slider{
                  width: 224px;
                  margin: 0 18px;
                  height: 24px;
                  flex: 1;
                  .rc-slider-rail{
                      height: 6px;
                      background: #E8E9ED;
                      border-radius: 4px;
                      top: 10px;
                  }
                  .rc-slider-track{
                      height: 6px;
                      background: #82ABEC;
                      border-radius: 4px;
                      top: 10px;
                      left: -7.5px
                  }
                  .rc-slider-handle{
                      width:14px;
                      height:14px;
                      background:#fff;
                      box-shadow:0px 0px 4px 0px rgba(130,150,199,0.54);
                      top: 6px
                  }
              }
          }
        }        
    }
      .ops-list{
        width: 100%;
        max-height: 3.6rem;
        overflow: auto;
        color: #FFFFFF;
        
        &::-webkit-scrollbar {/*滚动条整体样式*/
          width: 2px;     /*高宽分别对应横竖滚动条的尺寸*/
          height: 1px;
          position: relative;
          right: 40px;
          }
        &::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            border-radius: 1px;
            box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: #535353;
        }
        &::-webkit-scrollbar-track {/*滚动条里面轨道*/
            box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            border-radius: 1px;
            background: #EDEDED;
        }
        li{
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          height: 40px;
          cursor: pointer;
          border-radius:6px;
          .icon{
            width: .17rem;
            position: absolute;
            left: .17rem;
            top: 0.12rem;
            font-size: 0.12rem;
          }
          .name{
            display: block;
            width: 100%;
            text-align: center;
            line-height: .44rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          &:hover{
            background: #2E3037;
            opacity: 0.5;
            color: #FFFFFF;
          }
          &.active{
            background: #2E3037;
            color: #FFFFFF;
            &:hover{
              opacity: 1;
            }
          }
        }
      }
      .device-result-btn{
        position: absolute;
        bottom: 0.6rem;
        right: 0.34rem;
        width: 1.230rem;
        height: 0.400rem;
        line-height: 0.400rem;
        border: 1px solid transparent;
        border-radius: 0.250rem;
        font-size: 0.180rem;
        color: #FFFFFF;
        background: #82ABEC;
        line-height: 0.300rem;
      }
    }
    
  }
  //分页
  .paging-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0.1rem;
    height: 40px;
    .paging-left,.paging-right{
        display: block;
        width: 42px;
        height: 42px;
        background: url(../image/normal_page.png) no-repeat;
        opacity: 0.8;
        cursor: pointer;
        padding: 0 10px 0;
        background-size: contain;
        &.end-page{
          background: url(../image/end_page.png) no-repeat;
          background-size: contain;
        }
        &:hover {
          opacity: 0.96;
        }
        &:active {
        }
        &.disabled {
          opacity: .5;
        }
    }
    .paging-left {
        margin-right: 0.2rem;
    }
    .paging-right {
        margin-left: 0.2rem;
        transform: rotateY(180deg);
    }
    .paging-container-info {
        display: flex;
        font-size: 0.14rem;
        align-items: center;
        justify-content: center;
        background: $blockBgColor; 
        height: 42px;
        padding:0 10px;
        border-radius: 8px;
        color: #fff;
        .paging-input {
            display: block;
            font-size: 0.13rem;
            line-height: 0.24rem;
            border-radius: 0.14rem;
            background-color: transparent;
            width: 0.48rem;
            height: 0.24rem;
            border: 0.01rem solid #FFFFFF;
            text-align: center;
            outline: none;
            margin-right: 0.13rem;

            &:focus {
            }
        }
        .paging-sum {
            margin-left: 0.1rem;
        }
    }
}
  .userlist-title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    font-size: .14*100px;
    min-width: .79*100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // display: flex;
    align-items: center;
    // justify-content: space-between;
    &-search{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-top: 1px solid $blockBgColor;
      padding: 14px 0 20px 0;
    }
    &>span{
      font-size: 18px;
      margin: 14px 0 8px 0;
      display: inline-block;
    }
    .userlist-search {
      width: 240px;
      height: 42px;
      position: relative;
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
        color: #FFFFFF;
      }
      ::-moz-placeholder { /* Firefox 19+ */  
        color: #FFFFFF;
      }
      :-ms-input-placeholder { /* IE 10+ */ 
       color: #FFFFFF;
      }
      :-moz-placeholder { /* Firefox 18- */ 
       color: #FFFFFF;
      }
      input{
          margin-left: 1%;
          outline-style: none ;
          border: 1px solid #FFFFFF; 
          border-radius: 50px;
          padding: 10px 14px;
          max-width: 320px;
          min-width: 240px;
          font-size: 14px;
          font-family: "Microsoft soft";
          background: $areaBgColor url(../image/search.png) no-repeat;
          background-position: 14px 10px;
          padding-left: 45px;
          color: #FFFFFF;
      }
      .closeInput{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        width: 20px;
        height: 20px;
        background: url(../image/close_search.png) no-repeat;
        background-size: contain;
        cursor: pointer;
      }
    }
  }
  
  .list-box {
    height: calc(100% - 140px);
    overflow-y: scroll;
    padding-bottom: 20px;
    li {
      margin: 0.04*100px 0 0.04*100px 0;
      padding: 0 20px;
      display: flex;
      width: 100%;
      height: .44*100px;
      line-height: .44*100px;
      align-items: center;
      border-radius: 0.05*100px;
      position: relative;
      &>.tips{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background: #ec7259;
          color: #fff;
          opacity: 0.8;
          width: 100%;
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      &:hover {
        background: $blockBgColor;
      }
      .ys-icon-after-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 240px;
        margin-left: auto;
        .iconfont {
          margin: 0 10px;
          font-size: 22px;
          &.disable {
            color: #999CA0;
          }
        }
        .ys-icon-after {
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-right: 10px;
          background-size: 100% 100% !important;
          cursor: pointer;
        }
      }
    }

    .li-padding-left {
      padding: 0 0.1*100px;
    }

    .user-list-item-name {
      font-size: .16*100px;
      margin-left: .15*100px;
      width: 0.87*100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 6px;
      text-align: left;
    }
    &  .gift-number{
      background-color: $blockBgColor;
      border-radius: 0.150rem;
      background-position-x: 20%;
      width: 0.720rem;
      height: 24px;
      padding: 0.1rem 0.2rem 0.1rem 0.16rem;
      color: #fff;
      font-size: 14px;
    }

    .ys-icon-before {
      width: .26*100px;
      height: .26*100px;
      line-height: .26*100px;
      background-size: contain;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      .iconfont {
        font-size: 30px;
        &:hover {
          color: map-get($icon, "default");
        }
      }
      .user-remote-list-container{
        position: absolute;
        top: 0;
        left: 35px;
        width: 120px;
        z-index: 351;
        // height: 180px;
        padding-left: 0.1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius:8px;
        height: auto;
        background: #1C1D20;
        box-shadow: 0px 0.02rem 0.04rem 0px black;
        color: #FFFFFF;
        .triangle {
          display: block;
          position: absolute;
          top: 6px;
          left: -10px;      
          width:0;
          height:0;
          border-top:0.1rem solid transparent;
          border-bottom:0.1rem solid transparent;
          border-right:0.1rem solid #1C1D20;
      }
        .add-nowrap{
          display: flex;
          align-items: center;
          height: 40px;
         
          &:hover{
            color:#82ABEC;
            cursor: pointer;
          }
        }
      }
    }

    &::-webkit-scrollbar {
      /*滚动条整体样式*/
      width: .04*100px;
      /*高宽分别对应横竖滚动条的尺寸*/
    }

    &::-webkit-scrollbar-thumb {
      /*滚动条里面小方块*/
      border-radius: .04*100px;
      -webkit-box-shadow: inset 0 0 .05*100px #717171;
      background: #717171;
    }

    &::-webkit-scrollbar-track {
      /*滚动条里面轨道*/
      background: transparent
    }
  }

  .content-min-height {
    min-height: 1.9*100px;
  }
}


@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.student-count {
  display: flex;
  width: 101px;
  margin-right: 9px;
}
.shuffling {
  // position: absolute;
  // left: 96px;
  // top: 15px;
  display: inline-block;
  margin: -10px 0 -10px 20px;
  padding: 0 14px;
  border: 1px solid rgba(255,232,149,1);
  border-radius: 10px;
  // width: 122px;
  height: 42px;
  line-height: 38px;
  font-size: 16px;
  font-family:PingFangSC-Regular;
  text-align: center;
  color: #FFE895;
  cursor: pointer;
}