@import "../../../../styles/variables.scss";

.white-board-outer-layout{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-color: $pageBgColor;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .close-mp4-btn{
    width:35px;
    height:35px;
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    z-index: 232; // todo: 多窗口音视频后值为:121
    background:url(../img/closeMusic.png) no-repeat center center/ 100% 100%;
  }
  &.mp4-full-screen {
    .video-mark-container,.big-literally-wrap{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 120;
      width: 100vh;
      height: 100vw;
      max-width:unset;
      max-height:unset;
      transform: rotate(90deg) translateY(-100%);
      transform-origin: left top;
    }
  }
  .big-literally-wrap{
    max-height: 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    &.has-share {
      &+div .tool-Bar-container {
        z-index: 250;
      }
    }
    .roadofcloud-drag-parent-container{
        .document-toolbar-root{
          width:342px;
          height:50px;
          background:$areaBgColor; 
          border-radius:25px;
          align-items: center;
          padding-left: 12px;
          padding-right: 22px;
          box-sizing:border-box;
          .full-screen-btn{
            margin-left: 10px;
            width: 40px;
            height: 40px;
          }
          .previous-page-btn, .add-page-btn, .next-page-btn {
            width: 18px;
            height: 23px;
          }
          .previous-page-btn {
            margin-left: 22px;
            margin-right: 10px;
          }
          .add-page-btn, .next-page-btn {
            margin-right: 22px;
          }
          .zoom-big-btn {
            margin-right: 20px;
          }
        }
    }
    .whiteboard-instance-element .lc-drawing textarea{
      user-select: auto !important;
    }
  }
  .white-board-lay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 228;
  }
}
.ys-audio-player-container{
  bottom: 100px;
  // width: 74%;
  background:rgba(0,0,0,0);
  width: 60%;
}

.roadofcloud-sdk-whiteboard.refresh-btn {
  border-radius: 0;
  width: 22px;
  background: {
      color: initial;
      image: url(../img/reload.png);
      size: 22px 22px;
      repeat: no-repeat;
      position: center;
  }
}

.ys-media-player-total-control{
    width:100%;
    overflow: hidden;
    height:56px;
    background:rgba(28,29,32,0.8);
    border-radius:28px;
    // opacity:0.6;
    .media-player-box{
      width:100%;
      height:100%;
      .media-player-icon{
        display:none;
      }
      .media-player-control-container{
        width:100%;
        height:100%;
        display:flex;
        box-sizing:border-box;
        padding: 0;
        margin-left: 15px;
        padding: 0;
        >.close-btn{
          width:28px;
          height:28px;
          margin-right: 30px;
          background:url(../img/closeMusic.png) no-repeat center;
          background-size:cover;
        }
      }
      .volume-info-container{
        width:25%;
        height:100%;
        // margin-left: 20px;
        align-items: center;
        .ys-video-player-close-btn{
            left:0;
        }
        .custom-ys-rc-slider-track{
          width: 100%;
        }
      }
      .media-player-info-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
      }
    }
}
.custom-ys-rc-slider-track{
  width: 12px;
}

// 注释的是ppt和图片切换的类，方便搜索
#defaultRoadofcloudDynamicPpt_dynamicPptLoading{
  background: transparent;
}
.literally .literally-data-loading-wrap{
  background: transparent;
}

.Roadof_loader{
  background: url(../img/mp4_loading.gif) no-repeat center center !important;
  background-size: contain !important;
  width: 25% !important;
  height: 25% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%);
}
.Roadof_player>.Roadof_stream_videoSupernatant{
  background: rgba(0,0,0,0.8);
}
.media-player-box .custom-ys-slider.custom-ys-rc-slider .custom-ys-rc-slider-rail {
  background-color: #545454;
  height: 8px;
}
.media-player-box .custom-ys-slider.custom-ys-rc-slider.custom-ys-detection-device .custom-ys-rc-slider-handle, .media-player-box .custom-ys-slider.custom-ys-rc-slider.custom-ys-detection-device .custom-ys-rc-slider-track {
  background-image: url(../img/slide.png);
  // width: 12px;
  height:8px;
  
}
.custom-ys-slider.custom-ys-rc-slider{
  height: 8px;
}
// .custom-ys-rc-slider-handle{
//   width:17px !important;
//   height:24px !important;
//   background:rgba(157,190,243,1) !important;
//   box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2);
//   border-radius:4px !important;
//   border: 0 !important;
//   margin-top:-6px !important;

// }
.custom-ys-slider.custom-ys-rc-slider .custom-ys-rc-slider-handle {
  // margin-top: -8px;
  border-radius: 4px;
  height: 20px !important;
  margin: 0;
  top: -6px;
}
.media-player-box .play-pause-btn.play{
  background-image: url(../img/triangle.png);
  // top: 50px;
  width: 17px;
  height:24px;
}
.media-player-box .play-pause-btn.pause{
  background-image: url(../img/pause.png);
  height:20px;
  // top: 59%;
  width: 17px !important;
}
.media-player-box .volume-info-container .volume-icon{
  background-image: url(../img/volume.png);
  width: 25px;
  height: 25px;
  background-size: contain;
  margin-right: 10px;
}
.media-player-box .volume-info-container .volume-bar-container{
  height: 10px;
  top: auto;
  transform: none;
}
.media-player-box .volume-info-container .volume-icon.mute{
  background-image: url(../img/volume.png);
}
.media-player-box .media-player-control-container .full-screen-btn{
  background-image: url(../img/default/btn_fullScreen_default.png) !important;
  // margin-top: 4px;
}
.ys-media-player-total-control .media-player-box .media-player-info-container{
  // margin-top: -38px;
  white-space: nowrap;
  .add-nowrap{
    // margin-top:17px;  
  }
  .media-player-time-container{
    // margin-top:15px;
    position: absolute;
    right: 0;
    bottom: -20px;
    margin-left: auto;
    >em{
      font-style: normal;
    }
  }
}
.media-player-name-time-container  {
  position: absolute;
  top: -7px;
  left: 14px;
  width: 100%;
  height: 12px !important;
}
.media-player-progress-container {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  width: calc(100% - 90px);
}
.custom-ys-slider.custom-ys-rc-slider {
  height: 8px;
  .custom-ys-rc-slider-handle {
    // margin-top: -6px;
    transform: translateX(-50%);
    border-radius: 4px;
    width: 12px;
    height: 20px;
    background: #FFF;
    &::before {
      content: none;
    }
  }
}
.ys-video-player-container{
  z-index: 231; // todo: 多窗口音视频后删除该样式
}
.ys-video-player-container .ys-video-player-close-btn{
  display: none;
}
.ys-video-player-container .ys-media-player.ys-media-player-total-control-box{
  bottom: 24px;
  width: 74%;
}
.media-player-box .media-player-name-time-container{
  align-items: flex-start !important;
  font-size:12px;
  position: absolute;
  top: -8px;
  display: flex;
  width: 100%;
 
}
.fullscreen-teacher {
  position: absolute;
  top: 34px;
  right: 106px;
  width: 410px;
  height: 230px;
}
.course-reload {
  display: none;
  position: absolute;
  left: 134px;
  bottom: 36px;
  padding-top: 52px;
  width: 56px;
  height: 56px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  background: url(../img/reload.png) no-repeat 56px 56px;
  background-position: top center;
  background-size: contain;
  cursor: pointer;
  z-index: 3;
  &.reload, &.reloading {
    display: block;
  }
  &.reloading {
    background-image: url(../img/reloading.png);
  }
}
.isMoreWhiteboard .media-player-control-container {
  .full-screen-btn{
    display: none !important;
  }
  .close-btn{
    display: none;
  }
}