@import "../../../../../styles/variables.scss";

.header {
  height: 44px;
  padding: 0 26px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $blockBgColor;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  z-index: 229;
  align-items:center;
  .nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    font-size:14px;
    color:#fff;
    &>div {
        color: #fff;
        margin:0 16px;

    }
    &.room{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .h-time-wrap{
    display: inline-block;
    margin-left: 4px;
    font-size:14px;
    color:#fff;
  }
}
