@import "@styles/variables.scss";

.section .student-video-list{
  &.four-to-three{
    height: calc((100vw / 7 - 0.05rem) * 3 / 4 + 0.1rem);
  }
  &.sixteen-to-nine {
    height: calc((100vw / 7 - 0.05rem) * 9 / 16 + 0.1rem);
  }
}
.student-video-list.two-rows{
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  &.four-to-three{
    height: calc((100vw / 7 - 0.05rem) * 3 / 4 + 0.05rem * 3);
  }
  &.sixteen-to-nine {
    height: calc((100vw / 7 - 0.05rem) * 9 / 16 + 0.05rem * 3);
  }
  .student-video{
    height: calc(50%  - 0.05rem);
    width: calc((100vw / 7 - 0.05rem) / 2);
    margin-top: 0;
    .four-to-three .other-video-btn-mask{
      justify-content: center;
    }
    .teacher-close-camera{
      background-size: 40% 60%;
    }
  }
}
.section .student-video-list.two-rows{
  padding-top: 0.05rem;
  justify-content: flex-start;
}
.section .student-video-list.video-Layout-box,
.sidebar .student-video-list.video-Layout-box{
  .teacher-video{
    margin: 0;
    height: auto;
  }
  .teacher-video-box{
    width: 100%;
  }
  position: fixed;
  top: #{$headerHeight};
  left: 0;
  width: 100%;
  height: calc(100% - #{$headerHeight} - #{$footerHeight});
  z-index: 231;
  padding: 0 116px 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  -webkit-align-items: center;
  box-shadow: none;
  .video-Layout{
    width: 100%;
    margin: 0;
    .other-video-btn-mask{
      justify-content: center;
      // &:hover button{
      //   margin: 0.22rem;
      // }
    }
  }
  &.video-width-2,&.video-width-3,&.video-width-4{
    .video-Layout{
      width: calc((100% / 2));
    }
  }
  &.video-width-5,&.video-width-6,&.video-width-9{
    .video-Layout{
      width: calc((100% / 3));
    }
  }
  &.video-width-7,&.video-width-8,&.video-width-10,&.video-width-11,&.video-width-12,&.video-width-13{
    .video-Layout{
      width: calc((100% / 4));
    }
  }
  &.video-width-13,&.video-width-14,&.video-width-15{
    .video-Layout{
      width: calc((100% / 5));
    }
  }
  &.video-width-16,&.video-width-17{
    .video-Layout{
      width: calc((100% / 6));
    }
  }  &.video-width-3 .video-Layout:nth-child(1){
    margin: 0 calc((100% / 4)) 0;
  }
  &.video-width-5{
    .video-Layout:nth-child(1){
      margin-left:calc((100% / 6));
    }
    .video-Layout:nth-child(2){
      margin-right:calc((100% / 6));
    }
  }

  &.height-cover.four-to-three{
    // 高度为：视频区高度 / 视频行数
    // 宽度为：视频区高度 / 视频比例
    &.video-width-1 .video-Layout{
      height: calc(100vh - #{$headerHeight} - #{$footerHeight});
      width: calc((100vh - #{$headerHeight} - #{$footerHeight}) * 4 / 3);
    }
    &.video-width-3,&.video-width-4,&.video-width-5,&.video-width-6,&.video-width-7,&.video-width-8{
      .video-Layout{
        height: calc((100vh - #{$headerHeight} - #{$footerHeight}) / 2);
        width: calc(((100vh - #{$headerHeight} - #{$footerHeight}) / 2) * 4 / 3);
      }
    }
    &.video-width-9,&.video-width-10,&.video-width-11,&.video-width-12,&.video-width-13,&.video-width-14,&.video-width-15,&.video-width-16,&.video-width-17{
      .video-Layout{
        height: calc((100vh - #{$headerHeight} - #{$footerHeight}) / 3);
        width: calc(((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 4 / 3);
      }
    }
    &.video-width-3{ // （100% - 一个视频总宽度） / 2
      .video-Layout:nth-child(1){
        margin: 0 calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 2) * 4 / 3) / 2) 0;
      }
    }
    &.video-width-4{ // （100% - 两个视频总宽度） / 2
      .video-Layout:nth-child(2n){
        margin-right: calc((100% - (((100vh - #{$headerHeight} - #{$footerHeight}) / 2) * 4 / 3) * 2) / 2);
      }
      .video-Layout:nth-child(2n-1){
        margin-left: calc((100% - (((100vh - #{$headerHeight} - #{$footerHeight}) / 2) * 4 / 3) * 2) / 2);
      }
    }
    &.video-width-5{ // （100% - 两个视频总宽度） / 2
      .video-Layout:nth-child(1){
        margin-left:calc((100% - (((100vh - #{$headerHeight} - #{$footerHeight}) / 2) * 4 / 3) * 2) / 2);
      }
      .video-Layout:nth-child(2){
        margin-right:calc((100% - (((100vh - #{$headerHeight} - #{$footerHeight}) / 2) * 4 / 3) * 2) / 2);
      }
    }
    &.video-width-9{ // （100% - 三个视频总宽度） / 2
      padding-left: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 4) / 2);
      padding-right: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 4) / 2);
    }
    &.video-width-7,&.video-width-10,&.video-width-11,&.video-width-12{ // （100% - 四个视频总宽度） / 2
      padding-left: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 4 / 3 * 4) / 2);
      padding-right: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 4 / 3 * 4) / 2);
    }
    &.video-width-13,&.video-width-14,&.video-width-15{ // （100% - 五个视频总宽度） / 2
      padding-left: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 4 / 3 * 5) / 2);
      padding-right: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 4 / 3 * 5) / 2);
    }
    &.video-width-16,&.video-width-17{
      padding-left: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 4 / 3 * 6) / 2);
      padding-right: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 4 / 3 * 6) / 2);
    }
    &.video-width-1,&.video-width-3,&.video-width-5,&.video-width-6,&.video-width-8{
      justify-content: center;
    }
  }
  &.height-cover.sixteen-to-nine{
    &.video-width-1 .video-Layout{
      height: calc(100vh - #{$headerHeight} - #{$footerHeight});
      width: calc((100vh - #{$headerHeight} - #{$footerHeight}) * 16 / 9);
    }
    &.video-width-3,&.video-width-4,&.video-width-7,&.video-width-8{
      .video-Layout{
        height: calc((100vh - #{$headerHeight} - #{$footerHeight}) / 2);
        width: calc(((100vh - #{$headerHeight} - #{$footerHeight}) / 2) * 16 / 9);
      }
    }
    &.video-width-9{
      .video-Layout{
        height: calc((100vh - #{$headerHeight} - #{$footerHeight}) / 3);
        width: calc(((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 16 / 9);
      }
    }
    &.video-width-13{
      .video-Layout{
        height: calc((100vh - #{$headerHeight} - #{$footerHeight}) / 3);
        width: calc(((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 16 / 9);
      }
    }
    &.video-width-3 .video-Layout:nth-child(1){
      margin: 0 calc(((100vh - #{$headerHeight} - #{$footerHeight}) / 2) * 16 / 9 / 2) 0;
    }
    &.video-width-7{ // （100% - 四个视频总宽度） / 2
      padding-left: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 2) * 16 / 9 * 4) / 2);
      padding-right: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 2) * 16 / 9 * 4) / 2);
    }
    &.video-width-13{ // （100% - 五个视频总宽度） / 2
      padding-left: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 16 / 9 * 5) / 2);
      padding-right: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 16 / 9 * 5) / 2);
    }
    &.video-width-16{ // （100% - 六个视频总宽度） / 2
      padding-left: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 16 / 9 * 6) / 2);
      padding-right: calc((100% - ((100vh - #{$headerHeight} - #{$footerHeight}) / 3) * 16 / 9 * 6) / 2);
    }
    &.video-width-3,&.video-width-4,&.video-width-5,&.video-width-6,&.video-width-8,&.video-width-9{
      justify-content: center;
    }
  }
  &.focus-Layout-box{
    width: 4.25rem;
    right: 0;
    left: auto;
    align-content: flex-start;
    flex-direction: column;
    -webkit-align-items: flex-start;
    padding: 0 0.03rem 0 0.06rem;
    .video-Layout{
      width: 100%;
      margin:0 0.03rem 0.02rem 0 !important;
      .teacher-video-box{
        height: 100%;
        padding: 0;
      }
      .other-video-btn-mask{
        justify-content: center;
        left: auto;
        right: 0;
      }
      &.focus-video{
        position: fixed;
        top: #{$headerHeight};
        left: 0;
        width: calc(100vw - 4.25rem);
        height: calc(100vh - #{$headerHeight} - #{$footerHeight}) !important;
        .placeholder-bg,.base-video{
          padding: 0;
          height: 100%;
          .teacher-video-box{
            transform: none;
          }
        }
        .other-video-btn-mask{
          align-items: center;
          transform: translateX(-50%);
          left: 50%;
        }
        .chat-video video{
          background-color: #000 !important;
        }
      }
    }
    &.sixteen-to-nine{
      .video-Layout{
        // 视频的高度 * 视频比例
        width: calc(((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 16 / 9);
        //（视频列表高度+margin）/ 视频排数 - margin
        height: calc((100% + 0.03rem) / 6 - 0.03rem)
      }
      .video-Layout.focus-video{
        width: 100%;
      }
      &.lines-1{
        // 视频的宽度 * 2 + 总margin
        width: calc((((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 16 / 9) * 1 + 0.15rem);
        .video-Layout.focus-video{
            // 页面宽度 - 右边视频列表宽度
            width: calc(100vw - ((((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 16 / 9) * 1 + 0.15rem));
        }
      }
      &.lines-2{
        // 视频的宽度 * 2 + 总margin
        width: calc((((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 16 / 9) * 2 + 0.15rem);
        .video-Layout.focus-video{
          // 页面宽度 - 右边视频列表宽度
          width: calc(100vw - ((((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 16 / 9) * 2 + 0.15rem));
        }
      }
      &.lines-3{
        // 视频的宽度 * 2 + 总margin
        width: calc((((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 16 / 9) * 3 + 0.15rem);
        .video-Layout.focus-video{
          // 页面宽度 - 右边视频列表宽度
          width: calc(100vw - ((((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 16 / 9) * 3 + 0.15rem));
        }
      }
    }
    &.four-to-three{
      .video-Layout{
        width: calc(((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 4 / 3);
        height: calc((100% + 0.03rem) / 6 - 0.03rem)
      }
      .video-Layout.focus-video{
        width: 100%;
      }
      &.lines-1{
        width: calc((((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 4 / 3) * 1 + 0.15rem);
        .video-Layout.focus-video{
          width: calc(100vw - ((((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 4 / 3) * 1 + 0.15rem));
        }
      }
      &.lines-2{
        width: calc((((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 4 / 3) * 2 + 0.15rem);
        .video-Layout.focus-video{
          width: calc(100vw - ((((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 4 / 3) * 2 + 0.15rem));
        }
      }
      &.lines-3{
        width: calc((((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 4 / 3) * 3 + 0.15rem);
        .video-Layout.focus-video{
          width: calc(100vw - ((((100vh - #{$headerHeight} - #{$footerHeight} + 0.03rem) / 6 - 0.03rem) * 4 / 3) * 3 + 0.15rem));
        }
      }
  }
  }
}
