.editor-page {
  .ql-container {
    font-size: 16px;
  }

  #quill-editor {
    height: 400px;
  }

  .ql-editor {
    .ql-code-block-container {
      select.ql-ui {
        //display: none
      }
    }
  }

  #preview-editor.ql-container{
    border: none;
  }
}
