.editor-page {
  .ql-container {
    font-size: 16px;
  }

  #quill-editor {
    height: 400px;
  }

  .ql-editor {
    font-size: 14px;

    .ql-code-block-container {
      select.ql-ui {
        //display: none
      }
    }
  }

  .ql-snow .ql-editor .ql-code-block-container {
    background: #f0f0f0;
    color: #000;
  }

  #preview-editor.ql-container {
    border: none;
  }

  .quill-better-table {
    //width: 100% !important;
  }
}
