/* 
README
   p* 为四个方向都加统一数值 例:p10 都加10px 
   p*_* 上下一个数值 左右一个数值 例：p10_15 上下10px 左右15px
   ptb* 上下 例:ptb10 上下加10px
   plr* 左右 例:plr10 左右加10px
   pt*  上 例：pt10 上加10px
   pb*  下 例：pb10 下加10px
   pl*  左 例：pl10 左加10px
   pr*  右 例：pr10 右加10px

   m* 为四个方向都加统一数值 例:m10 都加10px 
   m*_* 上下一个数值 左右一个数值 例：m10_15 上下10px 左右15px
   mtb* 上下 例:mtb10 上下加10px
   mlr* 左右 例:mlr10 左右加10px
   mt*  上 例：mt10 上加10px
   mb*  下 例：mb10 下加10px
   ml*  左 例：ml10 左加10px
   mr*  右 例：mr10 右加10px

   size*  字体大小 例：size15  = font-size:15px
   
   bold 字体加粗
   
   w_*  百分比宽度  例:w_5 = width:5%
   w*  px宽度  例:w5 = width:5px
   min_w* 最小宽度百分比 例: min_w50 = min-width:50%
   max_w* 最大宽度百分比 例：max_w50 = max-width:50%
   h_*  百分比高度  例:h_5 = height:5%
   h*  px高度  例:h5 = height:5px

   img*  宽高统一数值的 class 例：img15  = width:15px height:15px;

   m_center = margin:0 auto;

   wx_color  微信绿 #1aad19

   t_center  文字居中  =  text-align:center;

   flex  横向布局 垂直居中
   
   wrap  只适用于flex布局  排版排不下时 自动换行

   box_size   =  box-sizing :border-box;
   
   d_block  display:block;

   d_inline display: inline;
*/
/* padding */

/* p* */
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.p30 {
  padding: 30px;
}

/* p*_* */
.p10_15 {
  padding: 10px 15px;
}
.p10_30 {
  padding: 10px 30px;
}

/* ptb */
.ptb5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.ptb6 {
  padding-top: 6px;
  padding-bottom: 6px;
}
.ptb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ptb15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ptb30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ptb40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* plr */
.plr5 {
  padding-left: 5px;
  padding-right: 5px;
}
.plr10 {
  padding-left: 10px;
  padding-right: 10px;
}
.plr15 {
  padding-left: 15px;
  padding-right: 15px;
}
.plr20 {
  padding-left: 20px;
  padding-right: 20px;
}
.plr30 {
  padding-left: 30px;
  padding-right: 30px;
}
.plr40 {
  padding-left: 40px;
  padding-right: 40px;
}

/* pt */
.pt2 {
  padding-top: 2px;
}
.pt3 {
  padding-top: 3px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.pt70 {
  padding-top: 70px;
}
/* pb */
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb100 {
  padding-bottom: 100px;
}
.pb120 {
  padding-bottom: 120px;
}
.pb150 {
  padding-bottom: 150px;
}
.pb200 {
  padding-bottom: 200px;
}
/* pl */
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}

/* pr */
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pr40 {
  padding-right: 40px;
}
.pr50 {
  padding-right: 50px;
}
.pr60 {
  padding-right: 60px;
}
.pr70 {
  padding-right: 70px;
}
.pr80 {
  padding-right: 80px;
}

/* margin */

/* m* */
.m5 {
  margin: 5px;
}

/* m*_* */

/* mtb */

.mtb5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mtb10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* mlr */
.mlr10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mlr15 {
  margin-left: 15px;
  margin-right: 15px;
}
.mlr20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mlr30 {
  margin-left: 30px;
  margin-right: 30px;
}

/* mt */
.mt1 {
  margin-top: 1px;
}
.mt2 {
  margin-top: 2px;
}
.mt3 {
  margin-top: 3px;
}
.mt4 {
  margin-top: 4px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}

/* mb */
.mb1 {
  margin-bottom: 1px;
}
.mb2 {
  margin-bottom: 2px;
}
.mb3 {
  margin-bottom: 3px;
}
.mb4 {
  margin-bottom: 4px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
/* ml */
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
/* mr */
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.mr50 {
  margin-right: 50px;
}

/* size */
.bold {
  font-weight: bold;
}
.size0 {
  font-size: 0;
}
.size10 {
  font-size: 10px;
}
.size11 {
  font-size: 11px;
}
.size12 {
  font-size: 12px;
}
.size13 {
  font-size: 13px;
}
.size14 {
  font-size: 14px;
}
.size15 {
  font-size: 15px;
}
.size16 {
  font-size: 16px;
}
.size17 {
  font-size: 17px;
}
.size18 {
  font-size: 18px;
}
.size19 {
  font-size: 19px;
}
.size20 {
  font-size: 20px;
}
.size22 {
  font-size: 22px;
}
.size24 {
  font-size: 24px;
}
.size28 {
  font-size: 28px;
}
.size30 {
  font-size: 30px;
}
.size32 {
  font-size: 32px;
}
.size50 {
  font-size: 50px;
}

/* width */
.w_5 {
  width: 5%;
}
.w_10 {
  width: 10%;
}
.w_15 {
  width: 15%;
}
.w_20 {
  width: 20%;
}
.w_25 {
  width: 25%;
}
.w_30 {
  width: 30%;
}
.w_35 {
  width: 35%;
}
.w_38 {
  width: 38%;
}
.w_40 {
  width: 40%;
}
.w_50 {
  width: 50%;
}
.w_60 {
  width: 60%;
}
.w_70 {
  width: 70%;
}
.w_80 {
  width: 80%;
}
.w_90 {
  width: 90%;
}
.w_92 {
  width: 92%;
}
.w_95 {
  width: 95%;
}
.w_100 {
  width: 100%;
}

.w1 {
  width: 1px;
}
.w5 {
  width: 5px;
}
.w10 {
  width: 10px;
}
.w15 {
  width: 15px;
}
.w20 {
  width: 20px;
}
.w25 {
  width: 25px;
}
.w30 {
  width: 30px;
}
.w40 {
  width: 40px;
}
.w50 {
  width: 50px;
}
.w60 {
  width: 60px;
}
.w70 {
  width: 70px;
}
.w80 {
  width: 80px;
}
.w90 {
  width: 90px;
}
.w100 {
  width: 100px;
}
.w105 {
  width: 105px;
}
.w130 {
  width: 130px;
}
.w140 {
  width: 140px;
}
.w150 {
  width: 150px;
}
.w200 {
  width: 200px;
}
.w230 {
  width: 230px;
}
.w250 {
  width: 250px;
}
.w500 {
  width: 500px;
}
.w550 {
  width: 550px;
}
.min_w50 {
  min-width: 50%;
}
.max_w80 {
  max-width: 80%;
}
.w_h100 {
  max-width: 100vw;
  min-height: 100vh;
}

/* height */
.h_5 {
  height: 5%;
}
.h_10 {
  height: 10%;
}
.h_20 {
  height: 20%;
}
.h_30 {
  height: 30%;
}
.h_40 {
  height: 40%;
}
.h_50 {
  height: 50%;
}
.h_60 {
  height: 60%;
}
.h_65 {
  height: 65%;
}
.h_70 {
  height: 70%;
}
.h_75 {
  height: 75%;
}
.h_80 {
  height: 80%;
}
.h_85 {
  height: 85%;
}
.h_87 {
  height: 87%;
}
.h_88 {
  height: 88%;
}
.h_90 {
  height: 90%;
}
.h_100 {
  height: 100%;
}
.h5 {
  height: 5px;
}
.h10 {
  height: 10px;
}
.h15 {
  height: 15px;
}
.h20 {
  height: 20px;
}
.h25 {
  height: 25px;
}
.h30 {
  height: 30px;
}
.h40 {
  height: 40px;
}
.h100 {
  height: 100px;
}
.h110 {
  height: 110px;
}
.h120 {
  height: 120px;
}
.h130 {
  height: 130px;
}
.min_h80 {
  min-height: 80%;
}
.min_h {
  min-height: 100vh;
}
/* img */

.img15 {
  width: 15px;
  height: 15px;
}
.img20 {
  width: 20px;
  height: 20px;
}
.img25 {
  width: 25px;
  height: 25px;
}
.img30 {
  width: 30px;
  height: 30px;
}
.img38 {
  width: 38px;
  height: 38px;
}
.img40 {
  width: 40px;
  height: 40px;
}
.img50 {
  width: 50px;
  height: 50px;
}
.img60 {
  width: 60px;
  height: 60px;
}
.img70 {
  width: 70px;
  height: 70px;
}
.img80 {
  width: 80px;
  height: 80px;
}
.img90 {
  width: 90px;
  height: 90px;
}
.img100 {
  width: 100px;
  height: 100px;
}
.img220 {
  width: 220px;
  height: 220px;
}

.m_center {
  margin: 0 auto;
}
.wx_color {
  color: #1aad19;
}
.color_red {
  color: red;
}
.t_center {
  text-align: center;
}
.t_left {
  text-align: left;
}
.t_right {
  text-align: right;
}
.flex {
  display: flex;
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.box_size {
  box-sizing: border-box;
}
.d_block {
  display: block;
}
.d_inline {
  display: inline;
}
.mask {
  position:fixed;
  z-index:1000;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background:rgba(0, 0, 0, 0.6);
  overflow: auto;
}