<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cloud Hub</title>
  <link rel="stylesheet" type="text/css" href="./literally/css/yswhiteboardsdk.css"></link>
  <!-- <script src="./sdk/ysSession.js"></script> -->
  <!-- <script src="./literally/js/yswhiteboardsdk.js"></script> -->
  <!-- <script src="./literally/js/playback.js"></script> -->
  <script src="./libs/lazyload.min.js"></script>
</head>
<body>
    <script>
      (() => {
        var playback = /index.html#\/(replay|playback)/g.test(window.location.href);
        if (playback) {
          var getUrlParams = function(keyName, url) {
            var href = url || window.location.href;
            var urlAdd = decodeURIComponent(href);
            var urlIndex = urlAdd.indexOf('?');
            var urlSearch = urlAdd.substring(urlIndex + 1);
            var reg = new RegExp('(^|&)' + keyName + '=([^&]*)(&|$)', 'i');
            var arr = urlSearch.match(reg);
            if (arr != null) {
              return arr[2];
            }
            return '';
          }
          var getRecordfilepath = function() {
            var path = getUrlParams('path');
            var recordfilepath = 'http://' + /\//g.test(path.charAt(path.length - 1)) ? path : path + '/';
          }
          var loginType = getUrlParams('logintype');
          window._custom_sdk_random_mark = new Date().getTime();
          var _sdk_sdkForceJoinRoomParamsKey = window[window._custom_sdk_random_mark + '_fjrp'];
          window[_sdk_sdkForceJoinRoomParamsKey] = {
            useServerScreenRecord: loginType === 88, //是否使用离屏录制，默认为false
            recordfilepath: getRecordfilepath(), //回放地址
          };
        }
      })()


      window.__ISDEBUG__  = ( "<%= htmlWebpackPlugin.options.__ISDEBUG__ %>" === 'true' );
      (() => {
        if (!__ISDEBUG__) {
          LazyLoad.css('./public/styles/main.css', () => {
              console.log('main.css加载完成');
          })
        }
        LazyLoad.js([
          // './sdk/ysSession.js',
          './literally/js/yswhiteboardsdk.js',
          __ISDEBUG__ ? './bundle.js' : './public/scripts/commons.js',
          __ISDEBUG__ ?'./main.bundle.js' : './public/scripts/main.js',
        ], () => {
            console.log('js文件加载完成');
        })
      })()
    </script>
    <div id="app"></div>
</body>
</html>
