.hand-list {
	position: absolute;
	right: 76px;
	bottom: 0;
	padding: 20px 14px 22px 30px;
	border-radius: 18px;
	width: 178px;
	max-height: 292px;
	background: #DEEAFF;
	&.top {
		top: 0;
		bottom: auto;
		&::after {
			top: 54px;
			bottom: auto;
		}
	}
	&::after {
		content: "";
		display: block;
		position: absolute;
		right: -12px;
		bottom: 44px;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-left: 14px solid #DEEAFF;
		// width: 12px;
		// height: 30px;
	}
	&.has-one {
		bottom: 30px;
		&::after {
			bottom: 19px;
		}
	}
}
.hand-list-container {
	max-height: 250px;
	min-height: 26px;
	overflow: auto;
	/*滚动条*/
	&::-webkit-scrollbar-thumb{
		width: 10px;
		border-radius: 5px;
		background: #FFF;
	}
	&::-webkit-scrollbar{
		width: 10px;
		border-radius: 5px;
		background: transparent;
	}
}
.hand-item {
	margin-bottom: 22px;
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 20px;
	color: #828282;
	&:last-child {
		margin-bottom: 0;
	}
	&.disable {
		color: #82ABEC;
		.hand-icon {
			background-image: url(../images/platform_disable.png);
			cursor: default;
		}
	}
}
.hand-icon {
	display: block;
	float: right;
	margin-right: 20px;
	width: 20px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../images/platform.png);
	cursor: pointer;
}