@import "@styles/variables.scss";
.responser{
    position: absolute;
    z-index: 230;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    background: #82ABEC;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
    transform: translate(-50%, -50%);
    // background:conic-gradient(#F7CD07 20%,#82ABEC 20% ,#82ABEC 100%);
    transition: background-color 1s;
    .icon-close{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
}
.responser .content {
    width: 180px;
    height: 180px;
    border: 10px solid $blockBgColor;
    border-radius: 50%;
    background: $areaBgColor; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    &.student{
        background: #82ABEC;
    }
    &.pointer{
        cursor: pointer;
    }
    &.waiting{
        background: $areaBgColor; 
        font-size:50px;
    }
    .bg{
        width: 34px;
        height: 34px;
        background: url(./images/contest-icon.png) center center no-repeat;
        background-size: 100% 100%;
        margin-top: 6px;
    }
    .start{
        border-radius: 20px;
        width: 130px;
        height: 34px;
        color: map-get(map-get($btn, "default"), "color");
        background: map-get(map-get($btn, "default"), "bg");
        text-align: center;
        line-height: 34px;
        margin: 6px 0;
    }
    .upPlatform{
        display: flex;
        align-items: center;
        margin-bottom: 2px;
        cursor: pointer;
        .select{
            width: 18px;
            height: 18px;
            margin-right: 3px;
        }
        .up{
            background: url(./images/up.png) center center no-repeat;
            background-size: 100% 100%;
        }
        .down{
            background: url(./images/down.png) center center no-repeat;
            background-size: 100% 100%;
        }
    }
    
}